@if (displayEditable) {
  <app-recipe-row-delete-button
    [stepLabel]="stepLabel"
    [index]="index"
    [canDragSteps]="canDragSteps"
    [rowHovered]="isRowHovered"
    [isEditing]="isEditing"
    [isReordering]="isReordering"
    (buttonMouseDown)="stepActionMouseDown.emit($event)"
    (deleteRequested)="deleteRequested.emit($event)"
  />
  <app-recipe-row-drag-button
    [stepLabel]="stepLabel"
    [index]="index"
    [canDragSteps]="canDragSteps"
    [rowHovered]="isRowHovered"
    [isEditing]="isEditing"
    [isReordering]="isReordering"
    [isDragOrigin]="isDragOrigin"
    (buttonMouseDown)="stepActionMouseDown.emit($event)"
    (blockedAction)="blockedAction.emit()"
    (dragStart)="dragStartRequested.emit($event)"
    (dragEnd)="dragEndRequested.emit($event)"
  />
}
@if (displayEditable && isEditing) {
  <div class="edit-actions" [class.blink-edit-actions]="isFlashingEditActions">
    <button
      class="edit-action accept-action"
      type="button"
      [attr.aria-label]="'Accept ' + stepLabel + ' change'"
      title="Accept"
      (click)="handleAcceptClick($event)"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="m5 12 4 4L19 6" />
      </svg>
    </button>
    <button
      class="edit-action cancel-action"
      type="button"
      [attr.aria-label]="'Cancel ' + stepLabel + ' change'"
      title="Cancel"
      (click)="handleCancelClick($event)"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="m18 6-12 12M6 6l12 12" />
      </svg>
    </button>
  </div>
  <textarea
    class="row-editor"
    [ngModel]="editingDraft"
    (ngModelChange)="editingDraftChange.emit($event)"
    (click)="handleEditorClick($event)"
    (keydown.escape)="cancelRequested.emit()"
    (blur)="acceptRequested.emit()"
    [attr.aria-label]="'Edit ' + stepLabel + ' ' + (index + 1)"
    autofocus
  ></textarea>
}